.inp{
	border: none !important;
	background-color: none;
	text-align: center;
	width: 200px;
	height: 30px;
    border-radius: 4px;
}
.inp_cont{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.btn{
	border-radius: 4px;
    border: none;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: #1aae9f;
    color: white;
}
.btn:hover{
	background-color: #149a8d;
}

@media(max-width: 500px){
	.inp_cont{
	flex-flow: column;
    align-items: center;
    margin-top: 20px
	}

	.inp{
	width: 90%;
    margin: 10px 0;
	}

	.btn{
	width: 90%;
	}
}